html {
    font-size: 100%;
}


body {
    background-image: linear-gradient(
        to right,
        rgb(248, 113, 133),
        rgb(244, 114, 182)
    );

    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

.app {

    width: 56rem;
    height: 32rem;

    background: rgb(10, 7, 34);
    border: 2px solid black;
    border-radius: 0.75rem;
    
}