aside {
    background-color: rgb(75, 85, 99);
    width: 33.33333%;
}


/* CONTROLS AND BUTTONS */
.controls {
    display: flex;
    margin-bottom: 1.8rem;
}

.controls button {
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
    background: yellow;
    border-radius: 1rem;
    border: rgba(0, 0, 0, 0.6);
    

}

.controls .close {
    background: rgb(238, 80, 80);
}

.controls .close:hover, 
.controls .close:active {
    background: rgb(243, 5, 5);
}

.controls .minimize {
    background: rgb(245, 245, 96);
}

.controls .minimize:hover, 
.controls .minimize:active {
    background: yellow;
}

.controls .maximize {
    background: rgb(69, 245, 69);
}

.controls .maximize:hover, 
.controls .maximize:active {
    background: rgb(1, 213, 1);
}

/* FORM */

input {
    color: white;
    font-weight: bold;

    border: none;
    border-left: 1px solid rgb(55, 66, 81);
    border-top: 1px solid rgb(55, 65, 81);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 1.75rem;

    width: 100%;
    padding: 0.375rem;
}

input:focus {
    outline: none;
    border: none;
}



input::placeholder {
    color: whitesmoke;
    font-weight: normal;
}



/* NAVIGATION */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    
    
}

nav a {

    color: whitesmoke;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

/* LIST */

ol {
    list-style: none;
}

nav .today:hover,
.nav .today:active {
    background: rgb(var(--color-today));
}

nav .scheduled:hover,
.nav .scheduled:active {
    background: rgb(var(--color-scheduled));
}

nav .all:hover:hover,
.nav .all:active {
    background: rgb(var(--color-all));
}

nav .flagged:hover,
.nav .flagged:active {
    background: rgb(var(--color-flagged));
}

/* NAC ICONS */

nav p {
    display: flex;
    justify-content: space-between;
}

nav svg {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.25rem;

    stroke: white;
    fill: white;

    padding: 0.5rem;
    
}

.today svg {
	background-color: rgb(var(--color-today));
}

.scheduled svg {
	background-color: rgb(var(--color-scheduled));
}

.all svg {
	background-color: rgb(var(--color-all));
}

.flagged svg {
	background-color: rgb(var(--color-flagged));
}



nav span {
	font-size: 1.5rem;
	line-height: 2.25rem;
}